.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(118, 114, 114);
  color: black;
  
}

.logo {
  font-size: 24px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  font-weight: 600;
  cursor: pointer;
}

.user {
  display: flex;
}

.login,
.start {
  background-color: #fb0079;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  
}

img {
  height: 50px;
}

select {
  background-color: transparent;
  margin-left: -30px;
  border: none;
}

.pinkdiv{
  height: 1000px;
  background-color: #ff007b;
 
  
}
.build{
  display: flex;
  color: white;
  margin-left: 170px;
  font-weight: bolder;
  font-size: 50px;
}
.free{
  color: white;
  margin-left: 440px;
  margin-top: -80px;
  font-weight: bolder;
  font-size: 50px;
}






.square-border {
  width: 400px;
  height: 95px;
  border: 2px solid white; 
  background-color:#fb0079 ;
  margin-top: 100px;
  margin-left: -50PX;
  padding-top: 20px;


}
.head{
  margin-top: -50px;
  margin-left: 20px;
}

.corner-square {
  width: 20px;
  height: 20px;
  background:#fb0079; 
  position: absolute;
  border: 2px solid white;
}

.top-left {
  top: 160px;
  left: 660px;
}

.top-right {
  top: 160px;
  right: 170px;
}

.bottom-left {
  bottom: 285px;
  left: 660px;
}

.bottom-right {
  bottom: 285px;
  right: 170px;
}

h4{
  color: white;
  margin-left: 430px;
  font-weight: 500;
  
}
.para{
  margin-left: 520px;
  
}
.easy{
  margin-top: -60px;
}
.btn{
  color: black;
  font-weight: bolder;
  height: 40px;
  width: 110px;
  margin-left: 550px;
  

}
.arrow{
  color: white;
  font-size: 200px;
  margin-left: 443px;
 margin-top: -130px;
}


.tilted-div {
  width: 300px;
  height: 35px;
  background-color: white;
  transform: rotate(45deg);
  margin-left: 470px;
  margin-top: 10px;
}
.half-top-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 880px;
  margin-left: 150px;
  height: 540px; 
  width: 950px;
  background-color:rgba(255, 192, 203, 0.5); 
  z-index: 1;
}
.dot{
  color: white;
 font-size: 50px;
 margin-top: -30px;
  
}
.create{
  color: white;
  margin-top: -80px;
  margin-left: 400px;
}
.template{
  background-color: white;
  width: 920px;
  height: 495px;
  margin-left: 14px;
}



label{
  background-color: rgb(254, 253, 253);;
  font-size: 16px;
  border: 1px solid black;
  line-height: 6px;
  position: relative;
  display: block;
  padding: 12px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 150px;
  height: 10px;
  margin-left: 260px;
  top: 80px;
}



.accordion-toggle{
  display: none;
}


label:after{
  content: "\2b";
  font-family: fontawesome;
  position: absolute;
  top: 13px;
  right: 20px;
}



.accordion-content{
  max-height: 0;
  transition: all .4s;
  overflow: hidden;
  

}

.accordion-toggle:checked ~.accordion-content{

   max-height: 100vh;
}

h3{
  margin-left: 260px;
  position: relative;
  top: 95px;
  
}

.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  

}

.left-side {
 display: flex;

}

.menu-items {
  margin-right: 80px;
  cursor: pointer;
  font-weight: bolder;
}
.menu-item {
  margin-right: 20px;
  cursor: pointer;
}



.input {
  text-align: center;
  width: 180px;
  
}


.right-side {
  display: flex;
  align-items: center;
}

.publish-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.styled-div {
  height: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  border-right: none;
  border-left: 1px solid black;
  padding: 5px;
  margin-left: 50px;
}

.left-content {
  font-weight: bold;
}

.right-content {
  font-size: 20px;
  cursor: pointer;
}

.sec{
  width: 200px;
  height: 408px;
margin-top: -20px;
  border: 1px solid black;
  border-bottom: none;
  margin-left: 50px;
  border-top: none;
  border-right: 1px solid black;
}

.acc{
  margin-top: -500px;
}
h2{
  margin-left: 20px;
  font-weight: medium;
  font-size: 18px;
  margin-top: 20px;
}

.input-with-icon{
  margin-left: 10px;

}
.icon{
  margin-left: -15px;
}
.shop{
  border: 1px solid black;
  width: 460px;
  height: 438px;
  margin-left: 459px;
  margin-top: -255px;
  background-image: url(shop.png);
  background-size: cover;
  border-right: none;
  border-bottom: none;

}


.how{
  background-color: rgb(243, 241, 241);
  height: 1500px;
  border: none;
}

.createe{
  
  background-image: url(create.png);
  height: 300px;
  width: 1000px;
  background-size: cover;
  position: relative;
  top: 350px;
  margin-left: 150px;
}

.big-div {
  width: 580px; 
  height: 600px;
  position: relative;
  top: 500px;
  left: 380px;
  border: 2px solid green;
  border-radius: 50px;
}

.small-div {
  width: 250px; 
  height: 200px;
  position: relative;
 
}

.left-bottom {
  bottom: -20px;
  left: 0;
  margin-left: -110px;
  border: none;
  background-image: url(flower.png);
  background-size: cover;
}

.right-bottom {
  height: 260px;
  width: 190px;
  margin-top: -380px;
  margin-left: 470px;
  background-image: url(rgb.png);
  background-size: cover;
  border: none;
 

}
.template-2{
  width: 540px; 
  height: 560px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 30px;
}


.navbarr{
  display: flex;
  height: 30px;
  border-bottom: 1px solid black;
  justify-content: space-betweenS;
  
}
.left-sidee{
  display: flex;
}

.menu-iteems {
margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
}
.menu-iteem {
  margin-right: 30px;
  cursor: pointer;
  font-size: small;
}
.right-sidee {
  display: flex;
  align-items: center;
}

.publish-buttonn{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  

}

.inputt {
  text-align: center;
  width: 180px;
  
}

.settings{
  border: none;
  margin-top: -530px;
  margin-left: 40px;
  width: 170px;
}
.int{
  width: 80px;
}



